@import "tailwindcss";

@keyframes spin-2d-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-2d-slow {
  animation: spin-2d-slow 12s linear infinite;
}